.navbar {
    font-family: 'Proxima Nova', sans-serif !important; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    z-index: 5000;
    padding: 2rem 7%;

}

.sun-dark svg {
    color: yellow;
}

.navbar.fixed {
    background: white;
    box-shadow: 0 4px 4px rgba(58, 57, 57, 0.333);
    padding: 1.3rem 7%;

}

.navbar.fixed .drop_link {
    /* margin-top: 11rem; */
}

.navbar.fixed.nav_dark {
    background: #1a1a1a;

}

.nav_body {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.nav_link {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    font-size: 1rem;
    align-items: center;
    padding-right: 1.8rem;
}

.nav_dropdown {
    display: flex;
    align-items: center !important;
    gap: 0.6rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative;
}
.nav_dropdown span{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.nav_dropdown:hover {
    color: #4499DA;

}

.drop_link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20rem;
    padding: 1.5rem;
    border-radius: 0.875rem;
    box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 5000;
    background: white;
    width: fit-content;
    animation-name: slideDown;
    /* Use animation for smooth transition */
    animation-duration: 0.5s;
    /* Animation duration */
    animation-timing-function: ease-in-out;
}

.drop_link a {
    font-size: 0.85rem !important;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.85rem;
    height: inherit;
}

.drop_link a span {
    padding: 0.7rem;
}

.drop_link a svg {
    font-size: 1.5rem !important;
}

.nav_dropdown svg {
    font-size: 1.1rem !important;
}

@keyframes slideDown {
    from {
        top: -150%;
        /* Start position above the dropdown */
    }

    to {
        top: 50%;
        /* End position at the bottom of the dropdown */
    }
}

.navDark .drop_link {
    background: #1a1a1a;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_link a {
    white-space: nowrap;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: ease-in-out 0.3s;
}

.nav_link a:hover {
    color: #4499DA;
}

.navDark a {
    color: white
}

.nav_link .nav_dropdown:hover {
    color: #4499DA;
}

.navDark .nav_dropdown {
    color: white
}


.nav_body button {
    padding-right: 0.8rem;
}

.nav_body svg {
    font-size: 1.3rem;

}

.login_btn {
    position: relative;
    padding: 0.4rem 2.2rem;
    color: white;
    border-radius: 0.46288rem;
    /* Removed background color */
    font-size: 1rem;
    border: 1px solid #DD0A35;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.login_btn:hover {
    color: #DD0A35;
    background-color: white;
}

.login_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DD0A35;
    border-radius: 0.46288rem;
    transition: width 0.5s ease;
    z-index: -1;
}

.login_btn:hover::before {
    width: 0%;
}

.logo img {
    width: 10rem;
    transition: ease-in-out 0.5s;
}

.nav_toggle {
    display: none;
}

.hide {
    display: none;
}

.login_span {
    display: none;
}

.drop{
    display: none;
}




@media screen and (max-width: 1340px) {

    .nav_link {
        gap: 1.8rem;
        padding-right: 1.5rem;
    }

    .login_btn {
        padding: 0.4rem 2rem;

    }
}

@media screen and (max-width: 1400px) {
    .navbar.fixed .nav_div{
        height: calc(100vh - 5.8rem);
        
        margin-top: 5.8rem;
    }
    .nav_dropdown {
        font-weight: 600;
        
        width: 100%;
        
        display: flex;
       flex-direction: column;
       align-items: flex-start;
       
    }
    .nav_dropdown span{border-bottom: 1px solid rgb(220, 219, 219);
         padding: 1.5em 4em 1.5em 14%;
        animation: nav 600ms ease forwards;
        transform: rotateY(60deg);
        opacity: 0;
        transform-origin: top;
        width: 100%;
        align-self: flex-start;
    }
    
    .drop_link {
      display: none;      

    }
    .drop{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid rgb(220, 219, 219);
        padding-bottom: 0.5rem;
    }
    .drop a{
        text-align: left;
        font-weight: 600;
        height: 4rem;
        width:  inherit;
        border-bottom: none !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 4em 2em 14%;
        animation: nav 600ms ease forwards;
        transform: rotateY(60deg);
        opacity: 0;
        transform-origin: top;
        font-size: 0.85rem;
    }
    .drop span{
        display: none;
    
    }

  

    .login_btn {
        display: none;
    }

    .hide .login_btn {
        display: block;
    }

    .hide {
        display: block !important;
    }

    .nav_hide {
       
        position: absolute;
        bottom: 0;
        padding: 2rem;
        width: 100%;

            display: none !important;
        

    }

    .nav_hide a {
        width: 100%;
        text-align: center;
    }

    .nav_hide span {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .login_span {
        display: block;
        background: #F40C3B;
        color: white;
        padding: 5px;
        border-radius: 8px;
    }

    .login_span svg {
        font-size: 2rem;
    }


    .nav_toggle {

        justify-content: center;
        align-items: center;
        display: flex !important;
        border: none;
        height: fit-content;
        outline: none;
        font-size: 1.2rem;
        padding: 0.5em;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav_toggle svg {
        color: var(--black);
        font-size: 2rem;
        font-weight: bold;
    }




    .nav_div {
        position: absolute !important;
        display: flex;
        height: calc(100vh - 7rem);
        background: white;
        top: 0;
        right: 0;
        margin-top: 7rem;
        box-shadow: 0 10px 10px rgba(58, 57, 57, 0.4);
        overflow-y: scroll;
    }




    .nav_link {
       overflow-y: scroll;
        scrollbar-width: thin;
        flex-direction: column;
        width: 22rem;
        padding: 0 !important;
        perspective: 600px;
        gap: 0;
        text-align: end;
    }

    .active_nav::after {
        display: none;

    }

    .nav_link > a {
        font-weight: 600;
        height: 4rem;
        width: 100%;
        border-bottom: 1px solid rgb(220, 219, 219);
        display: flex;
        align-items: center;
        padding: 2em 4em 2em 14%;
        animation: nav 600ms ease forwards;
        transform: rotateY(60deg);
        opacity: 0;
        transform-origin: top;
    }


    .show_nav {
        display: flex !important;
        flex-direction: column;
    }

    .hide_nav {
        display: none;
    }

    .navDark {
        background: #1a1a1a;
    }

    .navDark .nav_link a {
        color: white;
        border-bottom: 1px solid whitesmoke;
    }

    .nav_link a:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav_link a:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav_link a:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav_link a:nth-child(5) {
        animation-delay: 800ms;
    }

    .nav_link a:nth-child(6) {
        animation-delay: 1s;
    }

    .nav_link a:nth-child(7) {
        animation-delay: 1.2s;
    }

    @keyframes nav {
        to {
            transform: rotateY(0);
            opacity: 1;
        }
    }



}

.dark   .nav_toggle svg  {
    color: white !important;
}