@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url() format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Mark-Simonson-Proxima-Nova-Semibold"),
  url("./assets/fonts/Mark-Simonson-Proxima-Nova-Semibold.otf")
    format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sky: "Syne", sans-serif;
  --blue: #2f8ed6;
  --color-red: #dd0a35;
  --color-grey: #565656;
}

.padding {
  padding: 3.5rem 7%;
}

.h2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.5rem;
}
.h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.para {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
}

.why_text {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.startbtn {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--blue);
  gap: 0.5rem;
}
.startbtn span {
  text-decoration: underline;
}

.startbtn svg {
  font-size: 1.4rem;
}

.gradient {
  background: linear-gradient(
    90deg,
    #2f9bd6 -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #dd0a35 73.33%,
    #ebff70 99.34%
  );
  filter: blur(85.55000305175781px);

  position: absolute;
  z-index: 1;
  left: -150px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  top: 135px;
}
.gradient2 {
  background: linear-gradient(
    90deg,
    #2f9bd6 -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #dd0a35 73.33%,
    #ebff70 99.34%
  );
  position: absolute;
  filter: blur(20px);
}

* {
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

@layer components {
  /* container settings */
  .box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .box {
      width: 540px;
    }
  }

  @media (min-width: 768px) {
    .box {
      width: 720px;
    }
  }

  @media (min-width: 958px) {
    .box {
      width: 880px;
    }
  }

  @media (min-width: 992px) {
    .box {
      width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .box {
      width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .box {
      width: 1360px;
    }
  }

  @media (min-width: 1600px) {
    .box {
      width: 1460px;
    }
  }

  .section {
    padding: 80px 0px;
  }

  @media (max-width: 1000px) {
    .section {
      padding: 60px 0px;
    }
  }

  .fw-200 {
    font-weight: 200;
  }

  .fw-300 {
    font-weight: 300;
  }

  .fw-400 {
    font-weight: 400;
  }

  .fw-500 {
    font-weight: 500;
  }

  .fw-600 {
    font-weight: 600;
  }

  .fw-700 {
    font-weight: 700;
  }

  .fw-800 {
    font-weight: 800;
  }

  .fw-900 {
    font-weight: 900;
  }

  .fs-400 {
    font-size: 14px;
  }

  .fs-00 {
    font-size: 10px;
  }

  .fs-100 {
    font-size: 11px;
  }

  .fs-200 {
    font-size: 12px;
  }

  .fs-300 {
    font-size: 13px;
  }

  .fs-500 {
    font-size: 15px;
  }

  .fs-600 {
    font-size: 16px;
  }

  .fs-700 {
    font-size: 17px;
  }

  .fs-800 {
    font-size: 18px;
  }

  .circle {
    border-radius: 50%;
  }

  .text-pri {
    color: #e4b080;
  }

  .bg-secondary {
    background: #e3f9ff;
  }

  .text-primary {
    color: #9847fe;
  }

  .bg-primary {
    background: #9847fe;
  }

  .bg-pri {
    background: #feb470;
  }

  .bg-light {
    background: #f1f1f1;
  }

  .bg-fit {
    background-size: 100% 100%;
  }

  .btn-primary {
    background: linear-gradient(90deg, #9847fe 0%, #fc819f 100%);
    color: white;
    font-weight: 500;
    border-radius: 50px;
  }

  .btn-disabled {
    background: #11182795;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
  }

  .btn-primary:hover,
  .btn-like:hover {
    background: #9847fe;
    transform: scaleX(1.02);
    transition: 0.6s;
  }

  .btn-feel:hover {
    background: #9847fe;
    transform: scaleX(1.02);
    transition: 0.6s;
    color: #fff;
  }

  .btn-feel {
    border-radius: 1000px;
    background: #f3e8ff;
    color: #291946;
    font-weight: 500;
    cursor: pointer;
  }

  .btn-like {
    background: #111827;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
  }

  .place-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slick-slide > div {
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide > div > div {
  width: 9rem;
}

.hero-1 {
  background-image: url("/img/hero1.png");
}

.hero-2 {
  background-image: url("/img/hero2.png");
}

.hero-3 {
  background-image: url("/img/hero3.png");
}

.hero-4 {
  background-image: url("/img/hero4.png");
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 75%;
  }

  .h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}


